:root{

    /* light mode colors */

    --bg-color: #BDE7FD;
    --primary-color: #ff5500;
    --text-color: black;
    --border-color: black;
    --box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.625);

    
}

body{
    margin:0;
    overflow-x: hidden;
}

   /* flex Container */

    .flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

  /* Nav Bar */

.navbar-container{
    justify-content:space-between;
    padding: 16px 32px;
    background-color: #BDE7FD;
    box-shadow: var(--bg-color) ;

}

  /* Logo */
.logo-name{
    font-weight: bolder ;
    font-size: 2rem;
    text-transform: uppercase;
}

  /* Line */
  .line{
    color:#ff5500;
    font-size:2rem;
    font-weight: bolder;
    }

   /* Nav Items */
   .nav-items{
    list-style: none;
   }

   .nav-items a {
    text-decoration: none;
    color : var(--text-color);
   }

   .nav-items a:hover{
    color: var(--primary-color);
   }

     /* hero Section */

     .grid-container{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
     }

     .hero-section{
        background-color: var(--primary-color);
        border-radius: 12px;
        max-height: 60vh;
        margin: 4rem 0;

     }

     .intro-text{
        color: #BDE7FD;
        padding: 8px;

     }

     .download-btn{
        background-color: black;
        color: #BDE7FD;
        border: none;
        border-radius: 24px;
        padding: 12px;
        margin-top: 2rem;


     }

     .download-btn{
        cursor: pointer;

     }

     .profile-image{
        border: 2px ;
        margin: -2rem 0;
     }

     .proile-image img{
        height: 100%;
        width: 80%;


     }